.home-content {
  margin: 60px 0;
  text-align: center;
}

.home-content h1 {
  margin-bottom: 10px;
}

.home-content p {
  color: #6b7280;
}
.home-banner {
  margin-top: 24px;     /* GAP from navbar */
}

.home-content {
  margin: 60px 0;
  text-align: center;
}
.home-products {
  margin-top: 40px;
  margin-bottom: 60px;
}
.home-products {
  margin-top: 40px;
  margin-bottom: 60px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
